.fretBox {
    color: gray;
    background-color: DodgerBlue; 
    border-radius: 25px;
   border-style: none;
    width: 90px;
    height: 50px;
    margin: 10px;
}

.fretBox:hover {
    background-color: rgb(164, 199, 235);
}

.selected {
    background-color: rgb(226, 229, 255);
}
