
.guitarString {
    color: cornflowerblue;
    background-color: cornflowerblue;
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    margin: 10px;
}

.guitarString:hover {
    background-color: rgb(55, 118, 235);
}
/*
    Might switch this to JS object style, and export the stuff.
*/
.muteButton {
    border-radius: 25px;
    margin: 10px;
    border-style: none;
    width: 50px;
    height: 50px;
    background-color: rgb(225, 221, 255);
}

.muteButtonSelected {
    background-color: rgb(255, 255, 255);
}