.fretBox {
    color: gray;
    background-color: DodgerBlue; 
    border-radius: 25px;
    border-style: none;
    width: 100px;
    height: 50px;
    margin: 10px;
}

.fretBox:hover {
    background-color: rgb(164, 199, 235);
}

.selected {
    background-color: rgb(226, 229, 255);
}

.guitarString {
    color: cornflowerblue;
    background-color: cornflowerblue;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 50px;
    margin: 10px;
}

.guitarString:hover {
    background-color: rgb(55, 118, 235);
}
/*
    Might switch this to JS object style, and export the stuff.
*/